*{
    margin: 0;
    padding: 0;
}
@mixin medidas ($ancho , $largo){
    width: $ancho;
    height: $largo;
}

.fondo {
    background-image: url(../img/fondo-espacio1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixe;
    background-position:center;
    
    height: 105vh;
    .nav-sombra {
        box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.541);
        .navegador {
           @include medidas(30px,30px )
        }
        .tamaño-letra-menu {
            font-size: 16px;
            .color-letra-menu:hover {
    
                font-size: 18px;
                transition: 0.5s;
                
            }
            
        }
    }

    .sombra-letras {
        text-shadow: 0px 4px 3px rgba(0,0,0,1);
    }
    .largo{
        height: 80vh;
        .titulo{
    
            color: #fffb07;
        }
        .titulo2 {
            font-family: Arial, Helvetica, sans-serif;
            color: white;
        }
        .titulo3{
            color: white;
            font-family: 'Lemon', serif;
        font-family: 'Lilita One', sans-serif;
        font-family: 'Salsa', cursive;
        background-color: rgba(128, 128, 128, 0.562);}
        .texto-inicio {
            @extend .sombra-letras;
            margin-top: 180px;
            
        }
        .texto-demi {
            @extend .sombra-letras;
            margin-top: 80px;
            
        }
        .texto-trabajo {
            @extend .sombra-letras;
            margin-top: 30px;
            
        }

        .imagen-astronauta  {
            @include medidas(20px,20px );
        }
        .tamaño-astronauta {
     
           @include medidas(300px,300px );
            margin-top: 140px;
        }       
            .tamaño-algo-demi {
                @include medidas(250px,280px );
                 margin-top: 120px;
            
            }
            .tamaño-logos {
                @include medidas(90px,90px );
            }
        
        .color-letra-contacto {
            color: gold;
        }
        .tamaño-tarjeta {
            height: 150px;
            margin-top: 20px;
           .contact-info__wrapper {
                overflow: hidden;
                border-radius: .625rem .625rem 0 0
            }
            
            @media (min-width: 1024px) {
                .contact-info__wrapper {
                    border-radius: 0 .625rem .625rem 0;
                    padding: 5rem !important
                }
            }
            
            
            
            .list-style--none {
                list-style: none;
            }
            .contact__wrapper {
                background-color: #fff;
                border-radius: 0 0 .625rem .625rem
            }
            
            @media (min-width: 1024px) {
                .contact__wrapper {
                    border-radius: .625rem 0 .625rem .625rem
                }
            }
            @media (min-width: 1024px) {
                .contact-form__wrapper {
                    padding: 5rem !important
                }
            }
            .shadow-lg, .shadow-lg--on-hover:hover {
                box-shadow: 0 1rem 3rem rgba(132, 138, 163, 0.212) !important;
            }
            }
                
        

    }
    
}

