*{
    margin: 0;
    padding: 0;
}
.fondo {
    height: 100vh ;
    background-image: url(../img/fondo-espacio1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
}